@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
    --color-contrast: #222222;
    --color-primary: #fa8112;
    --color-primary-dark: #faab62;

    --color-bg: #f1e9e0;
    --color-secondary: #faf3e1;

    --animate-alarm: alarm 0.75s ease-in-out infinite;

    --animate-grow-once: grow-once 0.25s ease-out;

    --animate-jiggle-once: jiggle-once 0.25s ease-out;

    @keyframes alarm {
        0%,
        100% {
            transform: translateY(0) rotate(0deg);
        }

        10% {
            transform: translateY(-2px) rotate(-2deg);
        }
        20% {
            transform: translateY(0) rotate(2deg);
        }

        30% {
            transform: translateY(-4px) rotate(-1deg);
        }
        40% {
            transform: translateY(0) rotate(1deg);
        }

        50% {
            transform: translateY(-2px) rotate(-1deg);
        }
        60% {
            transform: translateY(0) rotate(1deg);
        }

        70% {
            transform: translateY(-1px) rotate(-1deg);
        }
        80% {
            transform: translateY(0) rotate(1deg);
        }
    }

    @keyframes grow-once {
        0%,
        100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.25);
        }
    }

    @keyframes jiggle-once {
        0%,
        100% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-15deg);
        }
        75% {
            transform: rotate(15deg);
        }
    }
}

button {
    touch-action: manipulation;
}
